<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel Planner</title>
  </head>
  <body>
    <header>
      <div>
        <h2 class="header_title">Travel Planner</h2>
      </div>
      <div>
        <ul class="navbar">
          <li class="naveli"><a href="#home">Home</a></li>
          <li class="naveli"><a href="#create">Create Trip</a></li>
          <li class="naveli"><a href="#list">My Trip List</a></li>
        </ul>
      </div>
    </header>
    <main>
      <div class="">
        <section class="search">
          <div class="search_start">
            <h4>Let's get started</h4>
            <form class="search_form">
              <div class="search_group">
                <label class="search_label">Origin : </label>
                <input
                  type="text"
                  class="search_input_from"
                  id="origin"
                  autocomplete="off"
                />
              </div>
              <div class="search_group">
                <label class="search_label">Destination : </label>
                <input
                  type="text"
                  class="search_input_to"
                  id="destination"
                  autocomplete="off"
                />
              </div>
              <div class="search_group">
                <label for="travel-date">Departure : </label>
                <input
                  type="date"
                  id="departure-date"
                  name="date"
                  min="2019-12-31"
                  max="2023-12-31"
                />
              </div>
              <div class="search_group">
                <label for="return-date">Return : </label>
                <input
                  type="date"
                  id="return-date"
                  name="date"
                  min="2019-12-31"
                  max="2023-12-31"
                />
              </div>
              <button type="button" class="plantrip_button" id="planbutton">
                Plan Trip
              </button>
            </form>
          </div>
        </section>
        <section class="results">
          <div class="results_title">
            <h3 id="results_title">My Trip List</h3>
          </div>
          <div class="results_main">
            <div class="trip_head">
              <div class="trip_hoofd">
                <div class="cityimg" id="cityimgdiv">
                  <div id="cityphoto"></div>
                </div>
                <div class="cityinfo">
                  <h1 id="where"></h1>
                  <h4 id="wheretowhere"></h4>
                  <h4 id="dateinfo"></h4>
                  <h4 id="duration"></h4>
                  <h4 id="daystogo"></h4>
                  <div>
                    <h3 id="weatherresult"></h3>
                  </div>
                </div>
              </div>
            </div>
            <div class="trip_plans">
              <div class="plans-c">
                <div class="activities">
                  <h4>
                    <span class="act"></span>
                    "Do & See"
                  </h4>
                  <ul>
                    <li class="add_item" id="add_item">
                      <div class="add_header">
                        <p class="drop">Add Something To Do</p>
                        <span class="fa_plus drop"></span>
                      </div>
                      <div class="todo">
                        <form class="todo_custom">
                          <input
                            type="text"
                            name="name"
                            id="myInput"
                            placeholder="Add what do do"
                          />
                          <span
                            onclick="newElement()"
                            class="fa-right"
                            id="addbutton"
                            >Add</span
                          >
                          <!-- <button type="submit" class="fa-right" id="addbutton">
                            Add
                          </button> -->
                        </form>
                      </div>
                    </li>
                  </ul>
                </div>
                <ul id="myUL">
                  <li class="checked">Go to Amsterdam central station</li>
                  <li>Meet Serene</li>
                  <li>Visit the museum plein</li>
                </ul>
              </div>
              <div class="plans-c">
                <div class="activities">
                  <h4>
                    <span class="act"></span>
                    "Packing List"
                  </h4>
                  <ul>
                    <li class="add_item" id="add_item">
                      <div class="add_header">
                        <p class="drop">Add your packing items</p>
                        <span class="fa_plus drop"></span>
                      </div>
                      <div class="todo">
                        <form class="todo_custom">
                          <input
                            type="text"
                            name="name"
                            id="myInput"
                            placeholder="Packing items"
                          />
                          <span
                            onclick="newElement()"
                            class="fa-right"
                            id="addbutton"
                            >Add</span
                          >
                          <!-- <button type="submit" class="fa-right" id="addbutton">
                            Add
                          </button> -->
                        </form>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
  </body>
</html>
